<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background: #e9eff5; font-family: 'Times New Roman'">
<div style="height: 100vh; width: 580px; background-color: #fff; position: relative; margin: 0 auto;">
    <div id="wrapper" style="
			margin: auto;
			text-align: start;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #ffffff;

		">
        <div style="padding:45px;">

            <div class="logo">
                <a href="#" style="
				color: #d63031;
				font-weight: bold;
				text-decoration: none;
				font-size: 18px;
				margin-top: 50px;
			">
                    <img style="width: 36px; margin-bottom: -5px !important;" src="https://cdn.duytan.edu.vn/upload/images/logoDT-70.png" alt="dtu">
                    DTU Event
                </a>
            </div>
            <div class="confirm">
                <div style="font-size: 42px; padding: 25px 0;">Confirm <b>your email address</b> </div>
                <p style="line-height:1.5; font-weight:lighter;">Thanks for <b th:text="${email}"></b> joining DTU
                    Event!
                    To fully active
                    your account, we need to
                    double
                    check contact information.
                    Visit the link below to conform your email address.</p>
                <p>If you didn't sign up for DTU Event, please ignore this email.</p>
            </div>
            <a th:href="${code}" class="button"
                 style="background:#d63031; color: #fff; text-align: center; padding: 18px; border-radius: 5px; margin-top: 45px; display: block; text-decoration: none">
                Confirm your email</a>
            </a>
            <p>Any questions? Check out <a href="#" style="color: #d63031">Support docs.</a></p>
        </div>
        <div style="background:#f6f7f7 ; 	padding: 45px;">
            <div>
                <div>
                    <img style="width: 36px;" src="https://cdn.duytan.edu.vn/upload/images/logoDT-70.png" alt="dtu">
                </div>
                <div>
                    <h1 style="font-size: 16px; line-height: 0; margin-top: 30px;">Event DTU notification with
                        mobile app</h1>
                    <p style="font-size: 14px;">See your likes, comments, and starts anywhere, anytime.</p>
                </div>
                <div style="
                    display: flex;
                    align-items: center;
                    margin-top: 15px;
                ">
                    <a href="#">
                        <img src="https://scontent.fdad1-3.fna.fbcdn.net/v/t1.15752-9/315306914_1174277766534568_4081745599165704691_n.png?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=jT6re0dNy74AX_zHi_5&_nc_ht=scontent.fdad1-3.fna&oh=03_AdT-w38BSdc7TG1xl3HyftpRt1vLsgqpSfJZaWgJXlU-8Q&oe=63999BD9"
                             alt="" style="
							width: 110px;
							height: 30px;
							margin-right: 8px;
							">
                    </a>
                    <a href="#">
                        <img src="https://scontent.fdad1-4.fna.fbcdn.net/v/t1.15752-9/312891436_1119427215436542_8601027689569353127_n.png?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_ohc=5Oyl73AiTaEAX-o9jj6&tn=5azoA1MVeFbIwLJq&_nc_ht=scontent.fdad1-4.fna&oh=03_AdSYyQpZT-H0KuWBHg9eAuvSOPj2LhoWwWGD-2G7kcgC0g&oe=6399932C"
                             alt="" style="width: 110px; height: 30px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>